# Created by https://www.gitignore.io/api/java,gradle,eclipse,intellij,visualstudiocode
# Compiled class file
*.class

# Log file
*.log

log/

doc/

build/

test/

password

.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
